$color-font-default: #f2f2f2;
$color-font-dark: #4d4d4d;

$color-background-dark: #003366;
$color-black: black;
$color-white: white;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    height: 100%;
    background: url("../images/backgroundSmall.jpg") center/cover no-repeat;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: $color-font-default;    
}

button {
    font-size: 1rem;
    font-family: inherit;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.header {
    margin: 1rem 0 1rem 0;

    &__heading {
        font-size: 2.2rem;
        text-align: center;
    }

    &__span {
        display: block;
    }
}

.nav {

    &__check {
        position: fixed;
        top: 3.75rem;
        right: 3.75rem;

        &:checked ~ .nav__menu {
            width: 40vw;
        }
    }

    &__btn {
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        width: 4rem;
        height: 4rem;
        background-color: white;
        border-radius: .5rem;
        text-align: center;
        z-index: 100;
    }

    &__check:checked + &__btn &__hamburger {
        background-color: transparent;

        &::before {
            bottom: 0px;
            transform: rotate(-315deg);
        }
        
        &::after {
            top: 0px;
            transform: rotate(315deg);
        }
    }

    &__hamburger {
        display: inline-block;
        position: relative;
        content: "";
        height: 2px;
        width: 55%;
        background-color: black;
        margin-top: calc(50% - 1px);
        transition: background-color .2s;

        &::before,
        &::after {
            display: block;
            position: absolute;
            content: "";
            background-color: black;
            height: 2px;
            width: 100%;
            transition: all .2s
        }

        &::before {
            bottom: 8px;
        }

        &::after {
            top: 8px;
        }

    }

    &__menu {        
        position: fixed;
        top: 0;
        right: 0;
        width: 0vw;
        height: 100vh;
        background-color: $color-background-dark;
        z-index: 1;
        transition: all .2s;
    }

    &__list {
        list-style: none;
        text-align: center;
        margin-top: 25vh;
    }

    &__item {
        font-size: 2rem;
        font-weight: 500;
        margin: 1rem 0;
    }

    &__link {
        display: inline-block;
        width: 16rem;
        padding: .5rem 0;
        background-color: white;
        color: $color-font-dark;
        text-decoration: none;
        text-transform: uppercase;
        
    }
}

.main {
    position: relative;
    text-align: center;
}

.error {
    background-color: rgba(red, .6);
    font-size: 1.5rem;    
    margin-bottom: 1rem;
}

.item {
    margin-bottom: 1rem;
    font-size: 2rem;

    &__list {
        margin-bottom: .5rem;
    }

    &__input {
        text-align: right;
        max-width: 10rem;
    }
}

.difficulty {
    &__heading {
        text-transform: uppercase;
        margin-bottom: .5rem;
    }

    &__input {
        display: none;

        &:checked+.difficulty__label{
            padding-top: 1.75rem;
            border: 3px solid white;
        }
    }

    &__buttons {
        &--top {
            margin-bottom: 1rem;
        }
    }

    &__label {
        display: inline-block;
        width: 11rem;
        height: 5.5rem;
        font-size: 1.4rem;
        padding-top: 2.05rem;

        &--pilgrim {
            background-image: linear-gradient(to bottom right, rgba($color-background-dark, .7), rgba(#00cc66, .7));
            margin-right: 2rem;
        }
        &--voyageur {
            background-image: linear-gradient(to bottom right, rgba(#00cc66, .7), rgba(#cccc00, .7));
        }
        &--stalker {
            background-image: linear-gradient(to bottom right, rgba(#cccc00, .7), rgba(#e68a00, .7));
            margin-right: 2rem;
        }
        &--interloper {
            background-image: linear-gradient(to bottom right, rgba(#e68a00, .7), rgba(#cc0000, .7));
        }
    }
}

.location {
    margin-bottom: 2rem;

    &__heading {
        text-transform: uppercase;
        margin-bottom: .5rem;
    }

    &__input {
        display: none;

        &:checked+.location__label {
            padding-top: 1.75rem;
            border: 3px solid white;

            &--outdoors {
                border: 3px solid orange;
            }
        }
    }

    &__label {
        display: inline-block;
        width: 11rem;
        height: 5.5rem;
        font-size: 1.4rem;
        padding-top: 2.05rem;

        &--indoors {
            background-color: rgba($color-background-dark, .8);
            margin-right: 2rem;
        }

        &--outdoors {
            background-color: rgba(white, .8); 
            color: $color-font-dark;
        }
    }
}

.result {
    &__btn {
        background-color: #b3daff;
        padding: 1rem 2rem;

        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;

        :active {
            transform: scale(.9);
        }
    }

    &__text {
        margin-top: 1rem;
        font-size: 3rem;
    }
}

.popup {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .5);
    z-index: 9999;

    &__content {
        position: absolute;
        width: 70%;
        top: 50%;
        left: 50%;
        text-align: center;
        padding: 3rem;
        background-color: $color-white;
        color: $color-font-dark;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }

    &__heading {
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    &__text {
        font-size: 1.2rem;
    }

    &__close {
        &:link,
        &:visited {
            position: absolute;
            top: 1rem;
            right: 1rem;
            text-decoration: none;
            font-size: 4rem;
            line-height: 1;
        }        
    }

    &:target {
        visibility: visible;
    }
}

// ********************************** //
//  *********** UTILITIES *********** //
// ********************************** //

.hidden {
    display: none;
}

.u-margin-bottom-sml {
    margin-bottom: 1rem;
}


// ************************************* //
// *********** MEDIA QUERIES *********** //
// ************************************* //


@media screen and (min-width: 481px) and (min-height: 720px) {

    .header {
        &__heading {
            font-size: 6rem;
        }
    }

    .error {
        font-size: 2rem;
    }

    .item {
        &__list {
            margin-bottom: 1rem;
        }

        &__input {
            font-size: 2rem;
        }
    }

    .difficulty {
        margin-bottom: 3rem;
        &__heading {
            font-size: 2rem;
        }

        &__input {
            &:checked+.difficulty__label{
                padding-top: 2.775rem;
                border: 3px solid white;
            }
        }

        &__label {
            width: 16.5rem;
            height: 8.25rem;
            font-size: 2.1rem;
            padding-top: 3.075rem;
        }
    }

    .location {
        margin-bottom: 3rem;
        &__heading {
            font-size: 2rem;
        }

        &__input {
            &:checked+.location__label{
                padding-top: 2.775rem;
                border: 3px solid white;

                &--outdoors {
                    border: 3px solid orange;
                }
            }
        }

        &__label {
            width: 16.5rem;
            height: 8.25rem;
            font-size: 2.1rem;
            padding-top: 3.075rem;
        }
    }

    .result {
        &__btn {
            padding: 2rem 4rem;
            font-size: 2rem;
        }

        &__text {
            margin-top: 2rem;
            font-size: 4.5rem;
        }
    }

    .popup {
        &__heading {
            font-size: 3rem;
        }

        &__text {
            font-size: 1.8rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        margin-bottom: 4rem;
        &__span {
            display: inline;
        }
    }

    .nav {

        &__check {
            position: fixed;
            top: 6rem;
            right: 6rem;
    
            &:checked ~ .nav__menu {
                width: 37.5rem;
            }
        }
    
        &__btn {
            top: 4rem;
            right: 4rem;
            width: 6rem;
            height: 6rem;
        }

        &__hamburger {
            &::before {
                bottom: 12px;
            }

            &::after {
                top: 12px;
            }
        }
    }

    .item {
        margin-bottom: 2rem;

        &__list {
            font-size: 2rem;
            margin-right: 2rem;
        }

        &__percentage {
            display: inline-block;
        }
    }

    .difficulty {
        &__heading {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        &__buttons {
            display: inline-block;

            &--top {
                margin-right: 2rem;
            }
        }
    }

    .location {
        margin-bottom: 3rem;

        &__heading {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }

    .result {
        &__text {
            margin-top: 2rem;
            font-size: 5rem;
        }
    }
}

@media screen and (max-height: 450px) {
    .header {
        &__span {
            display: inline;
        }
    }

    .item {
        &__list {
            margin-right: 1rem;
        }

        &__percentage {
            display: inline-block;
            font-size: 1.4rem;
        }

        &__input {
            font-size: 1.4rem;
        }
    }

    .difficulty {
        display: inline-block;
        margin-right: 8rem;
    }

    .location {
        display: inline-block;
        margin-bottom: .5rem;

        &__label {
            display: block;

            &--indoors {
                margin-bottom: 2rem;
            }
        }
    }

    .result {
        height: 3.5rem;

        &__btn {
            padding: .7rem 1.4rem;
            margin-right: 2rem;
        }

        &__text {
            display: inline-block;
            font-size: 1.9rem;
        }
    }
}