*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
  background: url("../images/backgroundSmall.jpg") center/cover no-repeat;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #f2f2f2;
}

button {
  font-size: 1rem;
  font-family: inherit;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.header {
  margin: 1rem 0 1rem 0;
}

.header__heading {
  font-size: 2.2rem;
  text-align: center;
}

.header__span {
  display: block;
}

.nav__check {
  position: fixed;
  top: 3.75rem;
  right: 3.75rem;
}

.nav__check:checked ~ .nav__menu {
  width: 40vw;
}

.nav__btn {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: .5rem;
  text-align: center;
  z-index: 100;
}

.nav__check:checked + .nav__btn .nav__hamburger {
  background-color: transparent;
}

.nav__check:checked + .nav__btn .nav__hamburger::before {
  bottom: 0px;
  transform: rotate(-315deg);
}

.nav__check:checked + .nav__btn .nav__hamburger::after {
  top: 0px;
  transform: rotate(315deg);
}

.nav__hamburger {
  display: inline-block;
  position: relative;
  content: "";
  height: 2px;
  width: 55%;
  background-color: black;
  margin-top: calc(50% - 1px);
  transition: background-color .2s;
}

.nav__hamburger::before, .nav__hamburger::after {
  display: block;
  position: absolute;
  content: "";
  background-color: black;
  height: 2px;
  width: 100%;
  transition: all .2s;
}

.nav__hamburger::before {
  bottom: 8px;
}

.nav__hamburger::after {
  top: 8px;
}

.nav__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0vw;
  height: 100vh;
  background-color: #003366;
  z-index: 1;
  transition: all .2s;
}

.nav__list {
  list-style: none;
  text-align: center;
  margin-top: 25vh;
}

.nav__item {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.nav__link {
  display: inline-block;
  width: 16rem;
  padding: .5rem 0;
  background-color: white;
  color: #4d4d4d;
  text-decoration: none;
  text-transform: uppercase;
}

.main {
  position: relative;
  text-align: center;
}

.error {
  background-color: rgba(255, 0, 0, 0.6);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.item {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.item__list {
  margin-bottom: .5rem;
}

.item__input {
  text-align: right;
  max-width: 10rem;
}

.difficulty__heading {
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.difficulty__input {
  display: none;
}

.difficulty__input:checked + .difficulty__label {
  padding-top: 1.75rem;
  border: 3px solid white;
}

.difficulty__buttons--top {
  margin-bottom: 1rem;
}

.difficulty__label {
  display: inline-block;
  width: 11rem;
  height: 5.5rem;
  font-size: 1.4rem;
  padding-top: 2.05rem;
}

.difficulty__label--pilgrim {
  background-image: linear-gradient(to bottom right, rgba(0, 51, 102, 0.7), rgba(0, 204, 102, 0.7));
  margin-right: 2rem;
}

.difficulty__label--voyageur {
  background-image: linear-gradient(to bottom right, rgba(0, 204, 102, 0.7), rgba(204, 204, 0, 0.7));
}

.difficulty__label--stalker {
  background-image: linear-gradient(to bottom right, rgba(204, 204, 0, 0.7), rgba(230, 138, 0, 0.7));
  margin-right: 2rem;
}

.difficulty__label--interloper {
  background-image: linear-gradient(to bottom right, rgba(230, 138, 0, 0.7), rgba(204, 0, 0, 0.7));
}

.location {
  margin-bottom: 2rem;
}

.location__heading {
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.location__input {
  display: none;
}

.location__input:checked + .location__label {
  padding-top: 1.75rem;
  border: 3px solid white;
}

.location__input:checked + .location__label--outdoors {
  border: 3px solid orange;
}

.location__label {
  display: inline-block;
  width: 11rem;
  height: 5.5rem;
  font-size: 1.4rem;
  padding-top: 2.05rem;
}

.location__label--indoors {
  background-color: rgba(0, 51, 102, 0.8);
  margin-right: 2rem;
}

.location__label--outdoors {
  background-color: rgba(255, 255, 255, 0.8);
  color: #4d4d4d;
}

.result__btn {
  background-color: #b3daff;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.result__btn :active {
  transform: scale(0.9);
}

.result__text {
  margin-top: 1rem;
  font-size: 3rem;
}

.popup {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup__content {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 3rem;
  background-color: white;
  color: #4d4d4d;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.popup__heading {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.popup__text {
  font-size: 1.2rem;
}

.popup__close:link, .popup__close:visited {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  font-size: 4rem;
  line-height: 1;
}

.popup:target {
  visibility: visible;
}

.hidden {
  display: none;
}

.u-margin-bottom-sml {
  margin-bottom: 1rem;
}

@media screen and (min-width: 481px) and (min-height: 720px) {
  .header__heading {
    font-size: 6rem;
  }
  .error {
    font-size: 2rem;
  }
  .item__list {
    margin-bottom: 1rem;
  }
  .item__input {
    font-size: 2rem;
  }
  .difficulty {
    margin-bottom: 3rem;
  }
  .difficulty__heading {
    font-size: 2rem;
  }
  .difficulty__input:checked + .difficulty__label {
    padding-top: 2.775rem;
    border: 3px solid white;
  }
  .difficulty__label {
    width: 16.5rem;
    height: 8.25rem;
    font-size: 2.1rem;
    padding-top: 3.075rem;
  }
  .location {
    margin-bottom: 3rem;
  }
  .location__heading {
    font-size: 2rem;
  }
  .location__input:checked + .location__label {
    padding-top: 2.775rem;
    border: 3px solid white;
  }
  .location__input:checked + .location__label--outdoors {
    border: 3px solid orange;
  }
  .location__label {
    width: 16.5rem;
    height: 8.25rem;
    font-size: 2.1rem;
    padding-top: 3.075rem;
  }
  .result__btn {
    padding: 2rem 4rem;
    font-size: 2rem;
  }
  .result__text {
    margin-top: 2rem;
    font-size: 4.5rem;
  }
  .popup__heading {
    font-size: 3rem;
  }
  .popup__text {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin-bottom: 4rem;
  }
  .header__span {
    display: inline;
  }
  .nav__check {
    position: fixed;
    top: 6rem;
    right: 6rem;
  }
  .nav__check:checked ~ .nav__menu {
    width: 37.5rem;
  }
  .nav__btn {
    top: 4rem;
    right: 4rem;
    width: 6rem;
    height: 6rem;
  }
  .nav__hamburger::before {
    bottom: 12px;
  }
  .nav__hamburger::after {
    top: 12px;
  }
  .item {
    margin-bottom: 2rem;
  }
  .item__list {
    font-size: 2rem;
    margin-right: 2rem;
  }
  .item__percentage {
    display: inline-block;
  }
  .difficulty__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .difficulty__buttons {
    display: inline-block;
  }
  .difficulty__buttons--top {
    margin-right: 2rem;
  }
  .location {
    margin-bottom: 3rem;
  }
  .location__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .result__text {
    margin-top: 2rem;
    font-size: 5rem;
  }
}

@media screen and (max-height: 450px) {
  .header__span {
    display: inline;
  }
  .item__list {
    margin-right: 1rem;
  }
  .item__percentage {
    display: inline-block;
    font-size: 1.4rem;
  }
  .item__input {
    font-size: 1.4rem;
  }
  .difficulty {
    display: inline-block;
    margin-right: 8rem;
  }
  .location {
    display: inline-block;
    margin-bottom: .5rem;
  }
  .location__label {
    display: block;
  }
  .location__label--indoors {
    margin-bottom: 2rem;
  }
  .result {
    height: 3.5rem;
  }
  .result__btn {
    padding: .7rem 1.4rem;
    margin-right: 2rem;
  }
  .result__text {
    display: inline-block;
    font-size: 1.9rem;
  }
}
/*# sourceMappingURL=app.css.map */